body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  background: Whitesmoke;
  margin: 0;
  text-align: center;
}
header {
    background-color: white;
    line-height: 0;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
h1 {
  font: bold  Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: midnightblue;
} 
#viewport {
    border: 2px solid red;
}
#run, #pause, #restart, #multiplier {
    width: 63px;
}
#time {
    resize: none;
    width: 130px;
    height: 18px;
    text-align: center;
    border: 1px solid black;
}
input {
    resize: none;
    font-family:"Lucida Console",Monoco,monospace;
    font-size:12px;
    width: 200px;
    height: 16px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}
#flightInfo {
    padding: 3px;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid black;
    background: #FFEFCB;
}
@media screen and (min-width: 765px) {
  #layout {
         display: grid;
         grid-template-rows: 40px 600px;
         grid-template-columns: auto 600px auto 208px auto;
        }
        header {
         grid-area: 1 / 1 / 2 / -1;
        }
        main {
         grid-area: 2 / 2 / 3 / 3;
 
        }
        aside {
         grid-area: 2 / 4 / 3 / 5;
        }
}